body {
    font-family: verdana, arial, helvetica;
    background-color: white;
}


#instructions {
    border: 1px solid #add8e6;
    padding: 5px;
    margin: 10px;
}


ul.frame-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.frame-list li img {
    width: 100%;
}

#permalink {
    width: 100%;
}

.remove-button {
    position: absolute;
    right: 8px;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 0;
    border-bottom-left-radius: 3px;
    color: red;
    text-align: center;
    cursor: pointer;
}