body {
    font-family: verdana, arial, helvetica;
    background-color: white;
}


#instructions {
    border: 1px solid #add8e6;
    padding: 5px;
    margin: 10px;
}


ul.frame-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.frame-list li {
    position: relative;
}

ul.frame-list li img {
    width: 100%;
}

#permalink {
    width: 100%;
}

.remove-button {
    position: absolute;
    right: 0px;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 0;
    border-bottom-left-radius: 3px;
    cursor: pointer;
}

.remove-button i {
    margin-top: 5px;
    margin-left: 7px;
}

.order-buttons {
    position: absolute;
    height: 48px;
    width: 24px;
    right: 0px;
    top: 50%;
    margin-top: -24px;
}

.order-buttons .order-button {
    background-color: white;
    height: 25px;
    cursor: pointer;
}

.order-buttons .order-button.up {
    border-top-left-radius: 3px;
    border-bottom: 1px solid grey;
}

.order-buttons .order-button.noclick {
    opacity:0.5;
}

.order-buttons .order-button i {
    margin-top: 5px;
    margin-left: 5px;
}

.order-buttons .order-button.noclick i {
    display: none;
}

.order-buttons .order-button.down {
    border-bottom-left-radius: 3px;
}