#{extends 'main.html' /}
#{set title:'Edit comic' /}

<div id="instructions"></div>

#{if comic != null}
    <input type="text" id="permalink" disabled value="http://localhost:9872/${comic.getId()}" /><br/>
    <input type="button" value="NEW COMIC" onclick="document.location='/edit/new';"/><br/>

    #{if !comic.getPublished()}
        <input type="button" value="SAVE & SHARE" onclick="document.location='/edit/finalize/${comic.getId()}';"/>
    #{/if}

    #{if comic.getPublished()}
        This image is now availible at <a href="http://localhost:9873/${comic.id}" target="_blank">www.figurly.com/${comic.id}</a>.
    #{/if}
    #{else}
        <ul class="frame-list">
            #{list items:comic.getFrames(), as:'frame'}
                <li>
                    <div class="remove-button" onclick="document.location='/edit/remove/${comic.getId()}/${frame}';"><i class="fa fa-trash-o"></i></div>
                    <div class="order-buttons">
                        #{if (frame_isFirst)}
                            <div class="order-button up noclick"></div>
                        #{/if}
                        #{else}
                            <div class="order-button up" onclick="document.location='/edit/order/${comic.getId()}/${frame}/up';"><i class="fa fa-arrow-up"></i></div>
                        #{/else}

                        #{if (frame_isLast)}
                            <div class="order-button down noclick"></div>
                        #{/if}
                        #{else}
                            <div class="order-button down" onclick="document.location='/edit/order/${comic.getId()}/${frame}/down';"><i class="fa fa-arrow-down"></i></div>
                        #{/else}
                    </div>
                    <img src="/public/comiccontent/${comic.getId()}/${frame}.png"/>
                </li>
            #{/list}
        </ul>
    #{/else}
#{/if}
#{else}
    No images yet...
#{/else}



